
<input type="text" placeholder=" Filter your to-dos" ng-model="search">
<ol>

    <li id="task" hover-state ng-repeat="taskList in $ctrl.taskList | filter: search track by $index ">{{taskList.task}}
    
        <i class="material-icons" ng-click="$ctrl.showme=true; $ctrl.hideme=true; $ctrl.edit = taskList ">mode_edit</i>
        <i class="material-icons" ng-click="$ctrl.deleteTask(taskList)">close</i>
    </li>

</ol>

<input  ng-show="$ctrl.showme" id="editInput" type="text" placeholder=" Edit your to do" ng-model="$ctrl.task">
<input ng-hide="$ctrl.hideme" id="addInput" type="text" placeholder=" Add your to do" ng-model="$ctrl.task">
<button ng-show="$ctrl.showme" class="addTask" ng-click="$ctrl.showme=false; $ctrl.hideme=false; $ctrl.updateTask($ctrl.edit)">Edit</button>
<button ng-hide="$ctrl.hideme" class="addTask" ng-click="$ctrl.addTask($ctrl.task)">Add</button>

